<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>!Servidor con Express y Socket.io¡ </title>
</head>
<body>
    <!--                     MANEJO OFFLINE                             -->
    <!-- ----------------------------------------------------------------->
    <!-- <button id="send">Send to all clients connected</button>
    <button id="disconnect">Disconnect</button>
    <button id="connect">Reconnect</button> -->


    <!--                    LOGICA ENVIO MENSAJES                      -->
    <!-- ---------------------------------------------------------------->
    <!-- <h1>Chat de <span id="namespace"></span></h1>
    <ul id="chat"></ul>
    <button id="sendMessage">Enviar Mensaje</button> -->

    <!-- <ul class="room" id="room1"></ul>
    <ul class="room" id="room2"></ul>
    <ul class="room" id="room3"></ul>
    <button id="connectRoom1">Room 1</button>
    <button id="connectRoom2">Room 2</button>
    <button id="connectRoom3">Room 3</button>
    <br>
    <br>
    <button id="sendMessage">Enviar mensaje</button> -->

    <!-- <h1>Mi servidor esta Funcionando.....</h1> -->
    <!-- <p id="text"></p>
    <button id="emit-to-server">Presioname</button>
    <button id="emit-to-last">Saluda al último conectado</button> -->


    <!--                        BROADCAST                           -->
    <!-- ------------------------------------------------------------->
    <div id="circle"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
</body>
</html>